@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark-mode-element:hsl(209, 23%, 22%);
  --dark-mode-bg:hsl(207,26%,17%);
  --light-mode-text:hsl(200,15%,8%);
  --light-mode-input:hsl(0,0%,52%);
  --light-mode-bg:hsl(0,0%,98%);
  --dark-mode-text:hsl(0,0%,100%);
  --light-mode-element:hsl(0,0%,100%);
}

@font-face{
  src: url(/src/fonts/NunitoSans_7pt_Condensed-Light.ttf);
  font-family: Ns-condensed;
}

@font-face{
  src: url(/src/fonts/NunitoSans_7pt-Light.ttf);
  font-family: Ns-light;
}

@font-face{
  src: url(src/fonts/NunitoSans_7pt-Medium.ttf);
  font-family: Ns-medium;
}

@font-face{
  src:url(src/fonts/NunitoSans_7pt-Regular.ttf);
  font-family: Ns-regular;
}

@font-face{
  src:url(src/fonts/NunitoSans_7pt-SemiBold.ttf);
  font-family: Ns-semibold;
}

@font-face{
  src:url(src/fonts/NunitoSans_7pt-Bold.ttf);
  font-family: Ns-bold
}
@layer{
  nav button {
    /* @apply bg-light-mode-element dark:bg-dark-mode-element */
    @apply bg-white dark:bg-black text-black dark:text-white text-5xl
  }
}